<div class="container mt-5">
  <h1 class="mb-4 text-center">Ask the Coach</h1>
  <form action="/answer" data-turbo="false" method="get" class="d-flex flex-column align-items-center">
    <input type="text" name="question" placeholder="Your question here" class="form-control mb-3" style="max-width: 400px;">
    <input type="submit" value="Ask!" class="btn btn-primary">
  </form>
</div>
